<h3>What is this about?</h3>

<p>
    The <a href="https://en.wikipedia.org/wiki/Collatz_conjecture" target='_blank'>Collatz conjecture</a> is one of the most 
    mesmerizing unsolved problem in mathematics. This simple web app allows you to calculate the collatz path of arbitrarily 
    large number down to the 4-2-1 loop.
</p>

<p>
    Don't push it too hard though, your computer can run out of memory.
</p>

<p>
    This is meant to be a proof-of-concept of the power of modern JavaScript, particularly BigInt and web worker features. 
    No computation ever leaves your computer and the website owner does not collect any user data.
</p>
