<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Collatz Calculator</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a
           class="nav-link"
           href="https://gitlab.com/rileyvel/collatz-calculator-website"
           target="_blank"
          >Source Code</a>
        </li>
      </ul>
    </div>
  </nav>