<div class="container">

    <div class="center mt-5 p-5">
        <h3>Enter your number (no upper limit, hopefully):</h3>
        <div class="row">
            <!--suppress CheckEmptyScriptTag -->
            <input class="form-control" type='text' [formControl]='inputControl'/>
        </div>
        <div class="row">
            <div class="col-12 text-center text-muted">{{ renderInputLength() }}</div>
        </div>
        <div class="row mt-3">
            <span class="d-inline-block m-auto w-auto">
                <button class="btn btn-outline-danger me-3" (click)='onConfirm()'>
                    <i class="bi bi-emoji-sunglasses"></i> Calculate
                </button>
                <button class="btn btn-outline-success" (click)='evaluateInputAsExpression()'>
                    <i class="bi bi-calculator"></i> Evaluate JS Expression
                </button>
            </span>
        </div>
    </div>

    <div class="center mt-2 p-5">
        <h3>Here are your results:</h3>
        <textarea
                disabled
                class="form-control"
                rows=10
                [(ngModel)]='outputValue'
        ></textarea>
    </div>

    <app-about></app-about>

</div>
